@use '../../styles/vars.scss';

.blogWrapper{
    max-width: 950px;
    margin: 0 auto;
    color: vars.$charcoal;

    .blogTitle{
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 1.8rem;
        color: vars.$dark-purple;
        margin-bottom: 10px;
        text-align: center;
    }

    .blogExcerpt{
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.5rem;
        text-align: center;
    }

    img{
        width: 100%;
        margin: 30px 0;
    }

    .blogMeta{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: 20px;
    }

    .blogContent{
        text-align: justify;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-size: 1rem;
        position: relative;

        &::after{
            display: block;
            position: absolute;
            top: calc(100% + 15px);
            left: 50%;
            transform: translateX(-50%);
            content: "***";
            font-size: 40px;
            letter-spacing: 10px;
            // font-weight: 400;
        }
    }
}