@use '../../styles/vars.scss';

.pageTitle{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: 50px;
    text-align: center;
    position: relative;

    &::after{
        display: block;
        position: absolute;
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        content: " ";
        width: 50px;
        height: 3px;
        background-color: vars.$charcoal;

    }
}

.blogCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    margin: 20px;
}