$powder-white: #fAfAf6;
$silver: #babab6;
$fainted-darkgry: #93867F;
$dark-purple: #30011E;
$french-violet: #731DD8;
$dark-spring-green: #04724D;
$charcoal: #2c4251;
$lapis: #065A82;
$celestial-blue: #058ED9;

$sideSpace: 60px