@use '../../styles/vars.scss';

.blogCard {
    width: 60%;
    padding: 20px;
    // border: solid 1px vars.$fainted-darkgry;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(147, 134, 127, 1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(147, 134, 127, 1);
    box-shadow: 0px 1px 5px 0px rgba(147, 134, 127, 1);

    color: vars.$charcoal;
    // color: vars.$dark-purple;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &:hover {
        transform: translateX(-10px);
    }


    .title {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.25rem;
    }

    .excerpt {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.15rem;
        margin-top: 10px;
    }

    .metaCol {
        display: flex;
        justify-content: left;
        align-items: center;
        column-gap: 30px;
        margin-top: 5px;
        font-size: 0.9rem;
    }
}