@use '../../styles/vars.scss';

.blogCard {
    width: 60%;
    // border: solid 1px vars.$fainted-darkgry;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(147, 134, 127, 1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(147, 134, 127, 1);
    box-shadow: 0px 1px 5px 0px rgba(147, 134, 127, 1);
    border-radius: 10px;

    color: vars.$charcoal;
    // color: vars.$dark-purple;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    overflow: hidden;
    column-gap: 5%;

    &:hover {
        transform: translateX(-10px);
    }

    .left {
        width: 45%;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .right {
        padding: 25px 25px 25px 0;
        height: 100%;
        width: 50%;


        .title {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.25rem;
        }

        .excerpt {
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.25rem;
            margin-top: 20px;
        }

        .metaCol {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
            margin-top: 20px;
        }

        a{
            display: block;
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 1rem;
            margin-top: 25px;
            text-align: right;
            transition: 250ms ease-in-out color;

            &:hover{
                color: vars.$french-violet;
            }
        }
    }
}